header h1{
      
    margin: 0;
    }
      
    header {
        background-color: #900; 
        color: white;
        text-align: center;
        padding: 20px;
      }
      header nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
      }
      a {
        text-decoration: none;
        color:black; 
      }
      header nav ul li {
        margin: 0 10px;
      }
      h2{
        text-align: center;
        color: #900;
      }
      footer {
        background-color: #900; 
        color: white;
        text-align: center;
        padding: 10px;
      }
      body{
        background-color:  #FFE4E1; ;
      }